.icons{
    --wAndH: 40px ;
    /* background-color: rgba(0, 0, 0,0.3); */
    width: var(--wAndH);
    height: var(--wAndH);
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

li::marker {
    content: "";
  }

  li{
    margin-inline: 10px;
  }